body{
    color: red;
    font-family:Arial, Helvetica, sans-serif ;
    color:darkslategrey;
    /* Adding background image */
    background-image: url(../images/white_brick_wall.png);
    
    /* fixing the fixed nav overlap */
    padding-top:92px;

}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    width: 100%;
}
/* this is a css comment
   Shortcut for adding the comment is command+ /   */
   
h1{
    color: peru;
}

p{
    background-color: lightblue;
}

/* selecting Multiple elements */
h1,h2,h3,h4{
    text-decoration: underline;
}

/* selecting child elements */
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    width: 50%;
    padding: 1em;
    box-sizing: border-box;
   
}

/* selecting child elements multiple level */
nav ul a{
    color:darkslategrey;
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5 * 16 = 24px */
}

/* selecting element with id value */
#treatofweek{
    /* color  image  repeat  posotion-x position-y  */
    background: orange url(../images/bread.jpg) no-repeat center
    center;
    background-size: cover;

    color: white;

    font-size: 1.25rem;
    padding: 1em 1em 4em 1em;
    /* 1.25 * 16 = 20px */
    /* padding: 1em; */
    /* 1 * 20 = 20px */

    /* viewport based unit */
    /* width: 100vw; */

    width: 50%;
}
/* Position -Absolute */
/* 0020 */
.orange-link.large-text{
    position: absolute;
    bottom: 0;
    right: 0;
}
/* selecting HTML elements with class name */
.orange-link{
    padding: 1.5em;
    width: 300px;
    display: block;
    background-color: darkslategrey;
    color: orange;
    text-decoration: none;
}
.large-text{
    font-size: 20px;    
}
/* Example of float layout */
article,
aside{
    width: 80%;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}

aside{
    width: 20%;

}
section{
    clear: both;
}
/* Derect child selector */
article>p{
    /* CSS Typography Properties */
    
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase ;
    text-align: center;
    /* 1em = 24px */

}

/* Adjacent sibling selector */
H3+ul{
    border: 1px solid black;
}

/* Attribute selector */
[href="#treatofweek"]{
    font-weight: bold;
    
}

img[src$=".jpeg"]{
    border: 4px solid black;
}


/* Fixed navigation */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
}
/* Using pseudo classes
Styling navigation
*/

nav ul a,
nav ul a:link,
nav ul a:visited{
    background-color: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul .current,
nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    box-shadow: 0 0 4px 2px black;
}

/* position related selectors */
/* first-child and :last-child */
aside ul li:first-child{
    font-weight: bold;
}

section ol li:last-child{
    font-weight: bold;
}

/* styling a table */
table{
    border-collapse: collapse;
}

/* :nth-child selector - odd/even keyword */
tbody tr:nth-child(even){
    /* hex color value with 6 characters */
    background-color: #d5836c;
}

/* Using the :nth-child with n 
where n is 0,1,2,3....until number of elements
*/

/* table th,
   table td{} 
*/
table th:nth-child(n),
table td:nth-child(n){
    /* hex color value with 3 characters */
    border: 1px solid #000;
}

/* using a formula in :nth-child selector */
table td:nth-child(2n+1){
    background-color: rgba(0,0,0,.2);
    
}

/* css specificity
   formula:inline-style, id ,calss ,tag-name
*/

 /* 0001 */
footer{
    background-color: aqua;
}

/* 0002 */
body footer{
    background-color: orange;
}
/* 0001 */
footer{
    background-color: red;
}

/* using inline style -1000 
           vs 
using two tags-0002 
*/
article h2{
    text-transform: lowercase;

}

/* 0010 */
.site-footer {
    background-color: cornflowerblue;
}
/* 0012 */
body footer.site-footer{
    background-color: teal;
}
/* CSS BOX Model */
section p{
    width: 50%;
    /* top-bottom left-right */
    padding: 1em .5em;
    /* top right bottom left */
    margin: -1em 2em 2em 2em;
    margin-left: 4em;
    /* we can use single side margin,padding or border
    by adding side*/
    border-bottom: 2px solid black;


}