body{
  font-family: 'source code pro',monospace;
}

h1{
  font-family: 'Zen Tokyo Zoo',cursive;
  font-weight: normal;
  font-size: 3 rem;
}
h1 i::before{
  font-size: 3rem;
  color: coral;
}
.im-tumblr::before{
  color: blueviolet;
}