body{
    background-color:#aad4cf;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 100%;
    border-left: .5px solid black;
    background-size: cover;
    margin:0;
}

header h1{
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 800;
    top: 200px;
    left: 570px;
   
}
.container{
    background-color:#d8e8e8;
    margin: 0;
}
.navagation div{
    display: inline-block;
    width: 33%;
    text-align:center;
   
}
.navagation a{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 22px;
    padding: 20px; 
    
}
.navagation-story{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

 article img{
    width: 8em;
    height: 9em;
    float: left;
    margin-left: .5em; 
    margin-right: 1em;    
    margin-bottom: 1.3em; 
}

 article p{
     font-size: 16px;
 }

 .listitem li{
    font-size: 16px;
 }

   
