body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color: brown;

}

.site-title{
    color: darkblue;
}

#my-image{

    box-shadow: 0px 0px 2px 1px black ;
}

.hobby ul{
    list-style-type: square;
}

.hobby li:nth-child(odd){
     background-color: darkgray;
}

nav ul{
    list-style-type: none;
}

nav ul a{
    text-decoration-line: none;
    background-color: yellowgreen;
    border: 1px solid black;
}

nav ul a:hover,
nav ul a:focus{
    background-color: cornflowerblue;
}