/* Adding background color */
body{
    background-color:#aad4cf;
    margin: 0em 10em 2em 10em;
    font-family: Arial, Helvetica, sans-serif;
}
/* Adding header image border-left and position */
header img{
    height: 300px;
    width: 100%;
    position: relative;
    border-left: .5px solid black;
}
/* Adding heading's position and color */
header h1{
   position: absolute;
    color: white;
    top: 180px;
    left: 600px;
    font-size: 40px;
    margin: 0;  
}
/* mian content's background color */
.container{
    background-color:#d8e8e8;   
}
/* navagation's style */
.navagation div{
    display: inline-block;
    width: 33%;
    text-align:center;   
}
.navagation a{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 24px;
    padding: 20px;     
}
.navagation-story{
    border-left: 1px solid black;
    border-right: 1px solid black;    
}
/* image position and text float the left of the image */
 article img{
    width: 9em;
    height: 10em;
    float: left;
    margin-left: .5em; 
    margin-right: 1em;    
    margin-bottom: 1.2em; 
}
/* paragraph's font size */
 article p{
     font-size: 16px;
 }
/* list's font size */
 .facts li{
    font-size: 15px;
 }
 /* form's margin */
 .form div{
     margin: 1em;
 }
 /* form's content position */
 .formitem{
     border:0.5px solid black;
     margin: 1em;
 }
 /* h2,h3,and paragraph's position */
 h2,h3,p{
    margin: .5em;
 }
 /* ipute's style */
 #fullname{
    width: 100%;
    margin-right: 5em;
    border-style:none;   
 }
 #youremail{
    width: 100%;
    margin-right: 5em;
    border-style:none;
 }
 #yourmessage{
    width: 100%;
    height: 60px;
    margin-right: 5em;    
 }
 /* submit's style */
 .send{
    text-transform: uppercase;
    margin: 1em;
 }
/* footer's position and style */
 footer{
     margin: 2em;
     text-align:right;
     padding-bottom: 1em;
 }
   
