body{
    background-color:#aad4cf;
    margin: 0em 10em 2em 10em;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    height: 300px;
    width: 100%;
    position: relative;
    border-left: .5px solid black;
}

header h1{
   position: absolute;
    color: white;
    top: 180px;
    left: 600px;
    font-size: 40px;
    margin: 0;
   
}
.container{
    background-color:#d8e8e8;
    
}
.navagation div{
    display: inline-block;
    width: 33%;
    text-align:center;   
}
.navagation a{
    color:black;
    text-transform:uppercase;
    text-decoration: none;
    font-size: 24px;
    padding: 20px; 
    
}
.navagation-story{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

 article img{
    width: 9em;
    height: 10em;
    float: left;
    margin-left: .5em; 
    margin-right: 1em;    
    margin-bottom: 1.2em; 
}

 article p{
     font-size: 16px;
 }

 .listitem li{
    font-size: 15px;
 }
 .form div{
     margin: 1em;
 }
 .formitem{
     border:0.5px solid black;
     margin: 1em;
 }
 
 .send{
    text-transform: uppercase;
    margin: 1em;
 }

 footer{
     margin: 2em;
     text-align:right;
     padding-bottom: 1em;
 }
   
